<!DOCTYPE html>
<html>
<head>
  <title>Bookers</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%=javascript_pack_tag'application','data-turbolinks-track':'reload'%>
  <%= csrf_meta_tags %>

<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= javascript_tag do %>
  document.addEventListener("DOMContentLoaded", function() {
    const confirmButtons = document.querySelectorAll("[data-confirm]");
    confirmButtons.forEach(function(button) {
      button.addEventListener("click", function(e) {
        const message = button.getAttribute("data-confirm");
        if (message && !confirm(message)) {
          e.preventDefault();
        }
      });
    });
  });
<% end %>

</head>
<body>
  <%= yield %>
</body>
</html>